= form_for @person do |f|
  -if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :birth_date
    = f.date_select :birth_date, :start_year => 1900, :end_year => Time.now.year
  .actions
    = f.submit 'Save'
