%h1 Listing people

%table.table.table-striped
  %tr
    %th Name
    %th Birth date
    %th Age
    %th 
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.birth_date
      %td= person.age
      %td= link_to 'Show', person
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete
= render "paginate"
%br

= link_to 'New Person', new_person_path
