%p#notice= notice
.hero-unit
  %h3= "#{@person.name} - born #{@person.birth_date.to_formatted_s(:long)} (Age: #{@person.age})"
  %ul.thumbnails
    %li
      %img.thumbnail{:src => "http://placehold.it/360x270"}
    %li.well
      %h3 Played in:
      %table.table-striped
        %thead
          %tr
            %th Title
            %th As
        %tbody
        - @person.acted_in_rels.each do |role|
          %tr
            %td= link_to role.end_node.title, movie_url(role.end_node.id)
            %td= role.character

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
