%h1 Editing movie

= render 'form'

= link_to @movie, :class => "btn" do
  %i.icon-zoom-in
  = I18n.t('show', :default => "Show")
\|
= link_to movies_path, :class => "btn" do
  %i.icon-list
  = I18n.t('movies.list', :default => "All movies")
