%h1 Listing movies

%table.table.table-striped
  %tr
    %th Title
    %th Release year
    %th
    %th
    %th

  - @movies.each do |movie|
    %tr
      %td= movie.title
      %td= movie.year
      %td= link_to 'Show', movie
      %td= link_to 'Edit', edit_movie_path(movie)
      %td= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete

%br
= will_paginate @movies

= link_to 'New Movie', new_movie_path
