%p#notice= notice
.hero-unit
  %ul
    %li
      %h2
        = "#{@movie.title} (#{@movie.year})"
    %li.span4
      %img.thumbnail{:src => "http://placehold.it/360x270"}
    %li.well
      %h3 People involved
      %table.table-striped
        %tbody
        - @movie.people_rels.each do |role|
          %tr
            %td= link_to role.start_node.name, person_url(role.start_node.id)
            %td= role.character
    %li.well
      %h3 Recorded in:
      %ul
      - @movie.countries.each do |country|
        %li= country.name
  .well
    = link_to 'Edit', edit_movie_path(@movie)
    \|
    = link_to 'Back', movies_path
