%p#notice= notice
.hero-unit
  %h2
    = "#{@movie.title} (#{@movie.year})"

  %ul.thumbnails
    %li.span2
      %img.thumbnail{:src => "http://placehold.it/360x270"}
    %li.well.span4
      %h3 People involved
      %table.table.table-striped
        %tbody
        - @movie.people_rels.each do |role|
          %tr
            %td= link_to role.start_node.name, person_url(role.start_node.id)
            %td= role.character
    %li.well
      %h3 Recorded in:
      %table.table.table-striped
        %tbody
        - @movie.countries.each do |country|
          %tr
            %td= image_tag "/assets/flags/#{country.iso_3166_1.downcase}.png", :alt=>""
            %td= country.name
  .well
    = link_to 'Edit', edit_movie_path(@movie)
    \|
    = link_to 'Back', movies_path
