.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to "ISharelib", root_url, { :class => "brand" }
      %ul.nav
        - if current_user
          %li
            = link_to "My Collection", ""
        %li
          = link_to "Movies", movies_url
        %li
          = link_to "People", people_url
        %li.divider-vertical
      = render "authentication"
