!!! 5
%html
  %head
    %title ISharelib
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'topbar'
    = render 'alerts'
    .container-fluid
      .row
        .span10
          = yield
        .span2.pull-right
    = render 'footer'